In [4]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib

In [5]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/Flooded-Area/Output/'
name_input_file = 'District-level_Flooded-Area_Recurrence.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/Treatment-Control-Assignment/Avg-Num-Impacted-Per-Year-Recurrence/'
name_output_file = 'District_Avg_Num_Per_Year_Flooded_Area.csv'

In [6]:
# add in zeroes column
df = pd.read_csv(path_input+name_input_file, header=0)
zeroes = [0] * len(df)
df.insert(1, "Zeroes", zeroes, True)
df

,Region,Zeroes,02Year,05Year,10Year,15Year,20Year
0,Abura / Asebu / Kwamankese,0,0.00,0.03,0.13,0.18,0.24
1,Accra Metropolis,0,0.03,0.23,0.30,0.33,0.41
2,Ada East,0,24.27,37.05,39.18,40.33,42.67
3,Ada West,0,33.67,43.25,45.84,47.15,49.39
4,Adaklu,0,0.00,0.13,0.18,0.20,0.23
...,...,...,...,...,...,...,...
211,West Gonja,0,1.16,2.32,4.73,6.41,9.08
212,West Mamprusi,0,6.39,15.84,61.95,91.63,129.07
213,Yendi Municipal,0,2.67,4.16,5.97,7.30,9.88
214,Yilo Krobo,0,0.02,0.09,0.29,0.48,0.65
215,Zabzugu,0,2.88,3.96,4.58,5.19,6.31

In [9]:
# calculate average num per year
return_periods = [2, 5, 10, 15, 20]
avg_impact_per_year = []

for i in range(0, len(df)):
    marg_impact_per_year = [] # collect marginal impact per year to then sum up

    for j in range(1, 6):
        x = ( df.iloc[i, j+1] - df.iloc[i, j] ) / return_periods[j-1]
        marg_impact_per_year.append(x)
        
    avg_impact_per_year.append(sum(marg_impact_per_year))

In [11]:
# add output to df
flood_risk_classification = df[['Region']]
colname = 'Avg sq.km Flooded Per Year - Flooded Area'

flood_risk_classification.insert(1,colname, avg_impact_per_year, True)
flood_risk_classification = flood_risk_classification.sort_values(colname) # sort from low to high avg impact per year
flood_risk_classification

                        Region  Avg sq.km Flooded Per Year - Flooded Area
156              Offinso North                                   0.000000
29   Asikuma / Odoben / Brakwa                                   0.000000
96                 Jaman South                                   0.000000
32                 Assin South                                   0.000000
34               Asunafo South                                   0.000000
..                         ...                                        ...
122   Kwahu Afram Plains South                                 228.361000
117                Krachi West                                 266.271500
173                  Sene East                                 386.721833
115                Krachi East                                 392.641500
121   Kwahu Afram Plains North                                 521.957500

[216 rows x 2 columns]

In [7]:
# save file to disk

flood_risk_classification.to_csv(path_output+name_output_file, index = False, header=True)