In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [2]:
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/Outcome-Vars-Research/GLSS7/g7aggregates/'

In [3]:
# get list of file names
files = [f for f in listdir(path_input) if isfile(join(path_input, f))]
files.sort()
files

['00_GHA_BASICINFO.dta',
 '01_GHA_EXPFOOD.dta',
 '02_GHA_EXPALCH.dta',
 '03_GHA_EXPCLTH.dta',
 '04_GHA_EXPHOUS.dta',
 '05_GHA_EXPFURN.dta',
 '06_GHA_EXPHLTH.dta',
 '07_GHA_EXPTRSP.dta',
 '08_GHA_EXPCMNQ.dta',
 '09_GHA_EXPRCRE.dta',
 '10_GHA_EXPEDUC.dta',
 '11_GHA_EXPHOTL.dta',
 '12_GHA_EXPMISC.dta',
 '13_GHA_2017_E.dta',
 '14_GHA_2017_PINDEX.dta',
 '15_GHA_2017_E_final.dta',
 '16_GHA_2017_I.dta',
 '17_GHA_2017_INCOME.dta',
 '18_GHA_POV_2017_GLSS7.dta',
 'INC_WAGE_PID.dta']

In [7]:
df0 = pd.read_stata(path_input+files[0]) # basic info
df1 = pd.read_stata(path_input+files[1]) # exp food
df2 = pd.read_stata(path_input+files[2]) # exp alch
#df3 = pd.read_stata(path_input+files[3])

In [9]:
df0 # one per HH

,country,region,hid,clust,nh,loc2,loc5,loc7,survemo,surveyr,eqsc,hhsize,WTA_S,WTA_S_HHSIZE,rururb
0,Ghana,Western,70001/01,70001,1,Urban,Other Urban,Urban Coastal,10,2016,0.76,1,482.568951,482.568939,Urban
1,Ghana,Western,70001/02,70001,2,Urban,Other Urban,Urban Coastal,10,2016,5.59,7,482.568951,3377.982666,Urban
2,Ghana,Western,70001/03,70001,3,Urban,Other Urban,Urban Coastal,10,2016,1.00,1,482.568951,482.568939,Urban
3,Ghana,Western,70001/04,70001,4,Urban,Other Urban,Urban Coastal,10,2016,2.76,3,482.568951,1447.706909,Urban
4,Ghana,Western,70001/05,70001,5,Urban,Other Urban,Urban Coastal,10,2016,6.71,9,482.568951,4343.120605,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14004,Ghana,Upper West,71000/11,71000,11,Rural,Rural Savannah,Rural Savannah,7,2017,5.18,7,103.730499,726.113525,Rural
14005,Ghana,Upper West,71000/12,71000,12,Rural,Rural Savannah,Rural Savannah,7,2017,5.83,7,103.730499,726.113525,Rural
14006,Ghana,Upper West,71000/13,71000,13,Rural,Rural Savannah,Rural Savannah,7,2017,1.66,2,103.730499,207.460999,Rural
14007,Ghana,Upper West,71000/14,71000,14,Rural,Rural Savannah,Rural Savannah,7,2017,1.00,1,103.730499,103.730499,Rural
14008,Ghana,Upper West,71000/15,71000,15,Rural,Rural Savannah,Rural Savannah,7,2017,5.69,7,103.730499,726.113525,Rural

In [16]:
len(df0['loc7'].unique()) # there are only 7 loc7 values

7

In [14]:
df1.columns

Index(['hid', 'FD_P', 'FD_P_CER', 'FD_P_MEAT', 'FD_P_VEG', 'FD_P_FRUIT',
       'FD_P_PULS', 'FD_P_STAR', 'FDNONALC_P', 'FD_B', 'FDNONALC_B',
       'HOTCAT_RS', 'country', 'region', 'clust', 'nh', 'loc2', 'loc5', 'loc7',
       'survemo', 'surveyr', 'eqsc', 'hhsize', 'WTA_S', 'WTA_S_HHSIZE',
       'rururb', 'FDRECALL', 'TOTFOOD'],
      dtype='object')