In [2]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib

In [3]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/Treatment-Control-Assignment/Flood-Risk-Classification/'
name_input_file = 'District_Avg_Perc_Pop_Impacted_Per_Year.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/Treatment-Control-Assignment/Flood-Risk-Classification/'
name_output_file = 'District_Avg_Perc_Pop_Impacted_Per_Year.csv'

In [4]:
# add in zeroes column
df = pd.read_csv(path_input+name_input_file, header=0)
zeroes = [0] * len(df)
df.insert(1, "Zeroes", zeroes, True)
df

,Region,Zeroes,02Year,05Year,10Year,15Year,20Year
0,Abura / Asebu / Kwamankese,0,0.000000,0.000000,0.000000,0.000000,0.000000
1,Accra Metropolis,0,0.000022,0.000194,0.000439,0.000583,0.000695
2,Ada East,0,0.000000,0.000937,0.002695,0.003843,0.004804
3,Ada West,0,0.000248,0.005295,0.009073,0.011045,0.013637
4,Adaklu,0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
211,West Gonja,0,0.000000,0.000000,0.000000,0.000000,0.000000
212,West Mamprusi,0,0.000066,0.000132,0.000263,0.000507,0.000573
213,Yendi Municipal,0,0.000000,0.000000,0.000181,0.000181,0.000181
214,Yilo Krobo,0,0.000000,0.000000,0.000000,0.000000,0.000000
215,Zabzugu,0,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
# calculate average impact per year for population
return_periods = [2, 5, 10, 15, 20]
avg_impact_per_year = []

for i in range(0, len(df)):
    marg_impact_per_year = [] # collect marginal impact per year to then sum up

    for j in range(1, 6):
        x = ( df.iloc[i, j+1] - df.iloc[i, j] ) / return_periods[j-1]
        marg_impact_per_year.append(x)
        
    avg_impact_per_year.append(sum(marg_impact_per_year))

In [6]:
# add output to df
flood_risk_classification = df[['Region']]
colname = 'Avg % of Pop Impacted Per Year'

flood_risk_classification.insert(1,colname, avg_impact_per_year, True)
flood_risk_classification = flood_risk_classification.sort_values(colname) # sort from low to high avg impact per year
flood_risk_classification

                           Region  Avg % of Pop Impacted Per Year
0      Abura / Asebu / Kwamankese                        0.000000
119                        Kwabre                        0.000000
123                    Kwahu East                        0.000000
125                    Kwahu West                        0.000000
126               La Dade Kotopon                        0.000000
..                            ...                             ...
111  Komenda Edna Eguafo / Abirem                        0.000698
105                Keta Municipal                        0.000913
76                     East Gonja                        0.001640
3                        Ada West                        0.001772
90                  Gonja Central                        0.003855

[216 rows x 2 columns]

In [7]:
# save file to disk

flood_risk_classification.to_csv(path_output+name_output_file, index = False, header=True)