In [7]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib

In [8]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/Population/'
name_input_file = 'District-level_Population_Recurrence.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/Treatment-Control-Assignment/Flood-Risk-Classification/'
name_output_file = 'District_Flood_Risk_Classification_Population.csv'

In [9]:
# add in zeroes column
df = pd.read_csv(path_main+name_input_file, header=0)
zeroes = [0] * len(df)
df.insert(1, "Zeroes", zeroes, True)
df

,Region,Zeroes,02Year,05Year,10Year,15Year,20Year
0,Abura / Asebu / Kwamankese,0,0,0,0,0,0
1,Accra Metropolis,0,41,356,807,1071,1276
2,Ada East,0,0,80,230,328,410
3,Ada West,0,18,384,658,801,989
4,Adaklu,0,0,0,0,0,0
...,...,...,...,...,...,...,...
211,West Gonja,0,0,0,0,0,0
212,West Mamprusi,0,10,20,40,77,87
213,Yendi Municipal,0,0,0,26,26,26
214,Yilo Krobo,0,0,0,0,0,0
215,Zabzugu,0,0,0,0,0,0

In [10]:
# calculate average impact per year for population
return_periods = [2, 5, 10, 15, 20]
avg_impact_per_year = []

for i in range(0, len(df)):
    marg_impact_per_year = [] # collect marginal impact per year to then sum up

    for j in range(1, 6):
        x = ( df.iloc[i, j+1] - df.iloc[i, j] ) / return_periods[j-1]
        marg_impact_per_year.append(x)
        
    avg_impact_per_year.append(sum(marg_impact_per_year))

In [11]:
# add output to df
flood_risk_classification = df[['Region']]
colname = 'Avg Impact Per Year - Pop'

flood_risk_classification.insert(1,colname, avg_impact_per_year, True)
flood_risk_classification = flood_risk_classification.sort_values(colname) # sort from low to high avg impact per year
flood_risk_classification

                         Region  Avg Impact Per Year - Pop
0    Abura / Asebu / Kwamankese                   0.000000
119                      Kwabre                   0.000000
123                  Kwahu East                   0.000000
125                  Kwahu West                   0.000000
126             La Dade Kotopon                   0.000000
..                          ...                        ...
105              Keta Municipal                 140.966667
1              Accra Metropolis                 156.450000
76                   East Gonja                 257.983333
85                     Ga South                 276.366667
90                Gonja Central                 365.683333

[216 rows x 2 columns]

In [12]:
# save file to disk

flood_risk_classification.to_csv(path_output+name_output_file, index = False, header=True)